* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(214, 205, 205);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading {
    font-size: 5rem;
    font-weight: 900;
    font-family: sans-serif;
    /* margin-bottom: 2rem; */

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.box-container {
    height: 50vh;
    width: 30vw;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    box-shadow: 0px 0px 10px 5px black;
    padding: 1rem;
    border-radius: 12px;
}

.box {
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 4rem;
    background-color: grey;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 12px;
    cursor: pointer;
}

.box:active {
    scale: .95;
    background-color: #5c5656;
    box-shadow: 0px 0px 3px 1px black;
    transition: all 0.1s ease;
}

.display {
    background-color: #343030;
    color: white;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 14px;
    padding: 1rem;
    margin: 1rem;
    display: none;
}

button {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 25px;
    background-color: grey;
    color: rgb(255, 255, 255);
    border: 2px solid black;
    box-shadow: 0px 0px 6px 1px black;
    transition: all 0.1s ease;
    cursor: pointer;
    position: absolute;

}

button:active {
    scale: .95;
    font-size: 0.95rem;
    background-color: #5c5656;
    box-shadow: 0px 0px 3px 1px black;
    transition: all 0.1s ease;
}

.newgame {
    display: none;
}